html, body{
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/3b48f428-24ed-4692-bb04-bc7771854131/087be50f-41d9-44bb-842b-8ddb05e1d4da/US-en-20200302-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-size: 100% 100%;
}
#brand{}


#signIn{
   color: white;
   font-family: 'raleway', sans-serif;  
   display: flex;
   justify-content: flex-end; 
}


#greeting1{
    color: white;
    font-family: 'raleway', sans-serif;
    text-align: center;
}

#greeting2{
    color: white;
    font-family: 'raleway', sans-serif;
    text-align: center;
}
#Email{
    color: white;
    font-family: 'raleway', sans-serif;
    text-align: center;
}

.email{
    color: white;
}


#ready{
    color: white;
    font-family: 'raleway', sans-serif;
    display: flex;
    justify-content: center;
}

#Enjoy{
    color: white;
    font-family: 'raleway', sans-serif;
    background-color: black;
    text-align: left;
}
#Download{
    color: white;
    font-family: 'raleway', sans-serif;
    background-color: black;
    text-align: right;
}
#Watch{
    color: white;
    font-family: 'raleway', sans-serif;
    background-color: black;
    text-align: left;
}

#signIn{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}